@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.contacts {
  padding: 100px 0;
  width: 100%;
  max-width: 644px;
  margin-inline: auto;

  &__form {
    width: 100%;
    max-width: 100%;

    label {
      width: 100%;
    }

    input {
      padding-left: 34px;

      &::placeholder {
        font-family: var(--font-family-third);
        font-size: 14px;
        line-height: 1.33;
        opacity: 0.6;
      }
    }

    input[type="email"] {
      background-image: url("../images/icons/email.svg");
      background-position: 5px -2px;
      background-repeat: no-repeat;
    }

    .btn {
      margin: 0 auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: 15px 13px 15px 24px;
    background-color: var(--color-white);
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  }

  h2 {
    margin-bottom: 56px;
    width: fit-content;
    text-align: center;
  }
}
