// @use "../utils/functions/" as *;
// @use "../utils/mixins/" as *;

// .faq {
//   &__item {
//     position: relative;

//     &:not(:last-child) {
//       margin-bottom: 71px;

//       &::before {
//         content: "";
//         position: absolute;
//         bottom: -50px;
//         width: 100%;
//         height: 1px;
//         background-color: rgba(150, 150, 150, 1);
//       }
//     }
//   }

//   details {
//     width: 100%;
//     max-width: 990px;

//     &[open] {
//       summary {
//         padding-bottom: 0;

//         &::after {
//           transform: scaleY(1);
//         }
//       }
//     }
//   }

//   summary {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 25px 0;
//     font-weight: var(--fw-600);
//     font-size: clamp(1.125rem, 1rem + 0.5556vi, 1.5rem);
//     line-height: 1.21;
//     transition: color 0.3s linear;
//     cursor: pointer;

//     &::after {
//       @include mask;

//       right: 25px;
//       top: 25px;
//       mask-image: url("../images/icons/chevron.svg");
//       width: 32px;
//       height: 32px;
//       transform: scaleY(-1);
//       transition: transform 0.3s linear;
//     }

//     + div {
//       padding: 8px 0 0;
//       font-weight: var(--fw-500);
//     }

//     &:hover {
//       color: var(--color-blue-600);
//     }
//   }

//   h2 {
//     margin-bottom: rem(61);
//   }

//   p {
//     opacity: 1;
//   }

//   @include media(tablet) {
//     &__item {
//       &:not(:last-child) {
//         margin-bottom: 35px;

//         &::before {
//           bottom: -25px;
//         }
//       }
//     }

//     summary {
//       padding: 16px 30px 16px 16px;

//       &::after {
//         right: 0;
//         top: 12px;
//       }

//       + div {
//         padding: 8px 25px 16px 16px;
//       }
//     }

//     h2 {
//       margin-bottom: 30px;
//     }
//   }
// }
