@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 16px 0;
  width: 100%;
  backdrop-filter: blur(8px);
  background: rgba(57, 66, 100, 0.8);
  transition-duration: 0.15s;

  &.hide {
    transform: translateY(-200%);
  }

  &.scroll {
    box-shadow: 0 0 2px 4px rgba(44, 46, 53, 0.12);
  }
}
