@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.missions {
  padding-bottom: 60px;

  &__inner {
    width: 100%;
    max-width: 1090px;
    margin-inline: auto;
  }

  h2 {
    margin: 0 auto 24px;
    width: fit-content;
  }
}
